
<!-- Header Section Start -->
<header id="home" class="hero-area">
  <div class="overlay">
    <span></span>
    <span></span>
  </div>
  <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
    <div class="container">
      <a href="index.html" class="navbar-brand"><img src="assets/images/logo2.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#reviews">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row space-100">
      <div class="col-lg-7 col-md-12 col-xs-1">
        <div class="contents">
          <h2 class="head-title">Learn Skills on the Job</h2>
          <p> Stop wasting time applying jobs you dont have the skills
            or experience for! LearnOnTheJob allows you to get start at an entry level and learn the skills required to climb the ladder.
            Every employer will teach you all the skills you need.
            No experience or degree is needed.</p>
          <div class="header-button">
            <a href="https://rebrand.ly/slick-ud" rel="nofollow" target="_blank" class="btn btn-border-filled">Start Applying</a>
            <a href="https://rebrand.ly/slick-ud" rel="nofollow" target="_blank" class="btn btn-border page-scroll">Start Hiring</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-12 col-xs-12 p-0">
        <div class="intro-img">
          <img src="assets/images/intro.png" alt="">
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End-->

<div class="brand-area pt-90">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-logo d-flex align-items-center justify-content-center justify-content-md-between">
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <img class="brand-style" src="assets/images/brand-1.png" alt="brand">
          </div> <!-- single logo -->
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.2s">
            <img class="brand-style" src="assets/images/brand-2.png" alt="brand">
          </div> <!-- single logo -->
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
            <img class="brand-style" src="assets/images/brand-3.png" alt="brand">
          </div> <!-- single logo -->
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.4s">
            <img class="brand-style" src="assets/images/brand-4.png" alt="brand">
          </div> <!-- single logo -->
          <div class="single-logo mt-30 wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.5s">
            <img class="brand-style" src="assets/images/brand-5.png" alt="brand">
          </div> <!-- single logo -->
        </div> <!-- brand logo -->
      </div>
    </div>   <!-- row -->
  </div> <!-- container -->
</div>

<div id="about">
  <!-- Details 1 -->
  <div class="basic-1" style="padding-top: 9%">
    <div class="container">
      <div class="row" style="justify-content: center;">

        <div class="col-lg-6" style="align-self: center;">
          <div class="text-container">
            <h2 style="font-size: 30px">Tell Us Everything About Yourself</h2>
            <p style="font-size: 17px">
              We know finding a job can be stressful, especially if you dont have the required skills. This is where we can help.
              Create a free profile to show your best self. Sign up and apply now, It only takes a few minutes!
            </p>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-4">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/details-1-office-worker.svg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of details 1 -->


  <!-- Details 2 -->
  <div class="basic-2" style="padding-bottom: 0px; padding-top: 0%">
    <div class="container">
      <div class="row" style="justify-content: center;">
        <div class="col-lg-4">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/details-2-office-team-work.svg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
        <div class="col-lg-6" style="align-self: center;">
          <div class="text-container" style="padding-left: 10%;">
            <div class="text-container">
              <h2 style="font-size: 30px">Apply and Hear Back From Potenial Employers</h2>
              <p style="font-size: 17px">We work with hundreds of eager employers who are looking to hire jobseekers
                who do not necessary have the right skills, experience or degrees but are willing to learn on the job and be trained by
                the new employer. Employers can also find your profile and request an interview.</p>
            </div> <!-- end of text-container -->
<!--            </ul>-->
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-2 -->
  <!-- end of details 2 -->

  <!-- Details 3 -->
  <div class="basic-1"  style="padding-top: 0%">
    <div class="container">
      <div class="row" style="justify-content: center;">
        <div class="col-lg-6" style="align-self: center;">
          <div class="text-container">
            <h2 style="font-size: 30px">Congratulations! You just got hired!</h2>
            <p style="font-size: 17px">After you have successfully completed the interview process, you will be given a start date
              and a detailed training plan on how you will upskill in your new job!</p>
          </div> <!-- end of text-container -->
        </div> <!-- end of col -->
        <div class="col-lg-5">
          <div class="image-container">
            <img class="img-fluid" src="assets/images/details-3-office-team-work.svg" alt="alternative">
          </div> <!-- end of image-container -->
        </div> <!-- end of col -->
      </div> <!-- end of row -->
    </div> <!-- end of container -->
  </div> <!-- end of basic-1 -->
  <!-- end of details 1 -->
</div>
<div id="services">
  <section id="service" class="services-area">
    <div class="container" >
      <div class="row">
        <div class="col-lg-6">
          <div class="section-title pb-10">
            <h4 class="services-heading">Crafted For</h4>
            <p class="services-heading-2" class="text">
              Our platform is perfectly suited to the following groups </p>
          </div> <!-- section title -->
        </div>
      </div> <!-- row -->
      <div class="row center-for-phone">
        <div class="col-lg-8">
          <div class="row services-list">
            <div class="row">
              <div class="col-md-6">
                <div class="services-content mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="lni-bolt"></i>
                  </div>
                  <div class="services-content  media-body">
                    <h4 class="services-title">College Grads</h4>
                    <p class="text">Perfect for college grads, especiallyfor those who have completed a broad degree
                      which has not taught them a specific skill.</p>
                  </div>
                </div> <!-- services content -->
              </div>
              <div class="col-md-6">
                <div class="services-content services-list-item mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="lni-bar-chart"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">School Grads</h4>
                    <p class="text"> Ideal for pupils who don't want to go to college and would rather get straight
                      into the workforce and learn valued skills.</p>
                  </div>
                </div> <!-- services content -->
              </div>
            </div>
            <div class="row" style="padding-top: 40px;">
              <div class="col-md-6">
                <div class="services-content services-list-item mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="lni-brush"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">Returning to work</h4>
                    <p class="text">Ideal for people who have taken a long period time off work and are looking to get back into the
                      workforce and learn a new skill.</p>
                  </div>
                </div> <!-- services content -->
              </div>
              <div class="col-md-6">
                <div class="services-content services-list-item mt-40 d-sm-flex">
                  <div class="services-icon">
                    <i class="lni-bulb"></i>
                  </div>
                  <div class="services-content media-body">
                    <h4 class="services-title">New Career</h4>
                    <p class="text">Sick and tired of your job? Find a new career with us and work your way up the ladder.  </p>
                  </div>
                </div> <!-- services content -->
              </div>
            </div>
          </div> <!-- row -->
        </div> <!-- row -->
      </div> <!-- row -->
    </div> <!-- conteiner -->
    <div class="services-image d-lg-flex align-items-center">
      <div class="image">
        <img src="assets/images/services.png" alt="Services">
      </div>
    </div> <!-- services image -->
  </section>
</div>


<!--    testimonial-->
<div id="reviews">
  <div class="reviews">
    <div class="section-title text-center pb-20" style="padding-top: 30px" >
      <h3 class="title" >Reviews</h3>
    </div> <!-- section title -->
    <div class="container-fluid my-5 justify-content-center" style="margin-top: 0px!important;">
      <div class=" row justify-content-center ">
        <div class="col-lg-4 col-12 mt-5 ">
          <div class="card mt-3 ">
            <div class="card-header bg-white text-center border-0 ">
              <div class="row justify-content-center ">
                <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="https://i.imgur.com/JI24t5h.jpg" width="110" height="110"> </div>
              </div>
              <div class="row text-center name">
                <div class="col">
                  <h5 class="mb-0 profile-pic">Elizabeth Smith</h5> <small style="font-size: 14px" class="mt-0">School Grad</small>
                  <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 text-center pb-3 ">
              <div class="row justify-content-center">
                <div class="col-md-8 col">
                  <p class="bold"> <span><img class="img-fluid quotes" src="https://i.imgur.com/U20aFIt.png" width="40" height="40"></span> LearnOnTheJob allowed me skip going to university
                    and go straight into the workforce and start working my way up the ladder by constantly improving and learning new skills. I
                    got employed by LinkedIn and have become an expert on there analytics system.<span><img class="img-fluid quotes-down" src="https://i.imgur.com/DPzmyiD.png" width="40" height="40"> </span></p>
                </div>
              </div>
            </div>
            <div class="card-footer text-center bg-white border-0 mt-0 pt-0">
              <div class="row">
                <div class="col"><span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-pinterest-p" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-google-plus" aria-hidden="true"></i></span></div>
              </div>
              <hr class="my-1">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mt-5 col-12 ">
          <div class="card mt-3">
            <div class="card-header bg-white text-center border-0 ">
              <div class="row justify-content-center ">
                <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="https://i.imgur.com/kkjs7EC.png" width="110" height="110"> </div>
              </div>
              <div class="row text-center name">
                <div class="col">
                  <h5 class="mb-0 profile-pic">Maria Hernandez</h5> <small style="font-size: 14px" class="mt-0">Waitress</small>
                  <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span></p>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 text-center pb-3 ">
              <div class="row justify-content-center">
                <div class="col-md-8 col">
                  <p class="bold"> <span><img class="img-fluid quotes" src="https://i.imgur.com/U20aFIt.png" width="40" height="40"></span>
                    I was sick and tired of my job as a waitress and wanted a career change that allowed me to progress. This platform
                    helped me get a job with Facebook and after several months of training I was just as compedent as anyone in the position with
                    a college degree<span><img class="img-fluid quotes-down" src="https://i.imgur.com/DPzmyiD.png" width="40" height="40"></span> </p>
                </div>
              </div>
            </div>
            <div class="card-footer text-center bg-white border-0 mt-0 pt-0">
              <div class="row">
                <div class="col"> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-pinterest-p" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-google-plus" aria-hidden="true"></i></span> </div>
              </div>
              <hr class="my-1">
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12 mt-5">
          <div class="card mt-3">
            <div class="card-header bg-white text-center border-0 ">
              <div class="row justify-content-center ">
                <div class="col"> <img class="align-self-center text-center rounded-circle outside img-fluid" src="https://i.imgur.com/At1IG6H.png" width="110" height="110"> </div>
              </div>
              <div class="row text-center name">
                <div class="col">
                  <h5 class="mb-0 profile-pic">Michael Smith</h5> <small style="font-size: 14px" class="mt-0">University Grad</small>
                  <p><span class="fa fa-star mr-1"></span><span class="fa fa-star mr-1"></span><span class="fa fa-star-o mr-1"></span><span class="fa fa-star-o mr-1"></span><span class="fa fa-star-o mr-1"></span></p>
                </div>
              </div>
            </div>
            <div class="card-body pt-0 text-center pb-3 ">
              <div class="row justify-content-center">
                <div class="col-md-8 col">
                  <p class="bold"> <span><img class="img-fluid quotes" src="https://i.imgur.com/U20aFIt.png" width="40" height="40"></span>
                    After finishing my communication degree, I struggled to find a job due to not having a specialised skill. Instead I
                    had limited knowledge of many different skills. This platform allowed me to start an entry position
                    as a sales consultant by learning everything I know on the job.
                    <span><img class="img-fluid quotes-down" src="https://i.imgur.com/DPzmyiD.png" width="40" height="40"> </span></p>
                </div>
              </div>
            </div>
            <div class="card-footer text-center bg-white border-0 mt-0 pt-0">
              <div class="row">
                <div class="col"> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-pinterest-p" aria-hidden="true"></i></span><span class="mx-2"><i class="fa fa-google-plus" aria-hidden="true"></i></span> </div>
              </div>
              <hr class="my-1">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Counter Section End-->


<!--    <section id="testimonial" class="testimonial-area">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-lg-6">-->
<!--            <div class="section-title text-center pb-20">-->
<!--              <h3 class="title">Testimonial</h3>-->
<!--              <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>-->
<!--            </div> &lt;!&ndash; section title &ndash;&gt;-->
<!--          </div>-->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->

<!--        <div class="row">-->
<!--          <div class="col-lg-12">-->
<!--            <div class="row testimonial-active">-->
<!--              <div class="col-lg-4">-->
<!--                <div class="single-testimonial mt-30 mb-30 text-center">-->
<!--                  <div class="testimonial-image">-->
<!--                    <img src="assets/images/author-3.jpg" alt="Author">-->
<!--                  </div>-->
<!--                  <div class="testimonial-content">-->
<!--                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>-->
<!--                    <h6 class="author-name">Isabela Moreira</h6>-->
<!--                    <span class="sub-title">CEO, GrayGrids</span>-->
<!--                  </div>-->
<!--                </div> &lt;!&ndash; single testimonial &ndash;&gt;-->
<!--              </div>-->
<!--              <div class="col-lg-4">-->
<!--                <div class="single-testimonial mt-30 mb-30 text-center">-->
<!--                  <div class="testimonial-image">-->
<!--                    <img src="assets/images/author-1.jpg" alt="Author">-->
<!--                  </div>-->
<!--                  <div class="testimonial-content">-->
<!--                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>-->
<!--                    <h6 class="author-name">Fiona</h6>-->
<!--                    <span class="sub-title">Lead Designer, UIdeck</span>-->
<!--                  </div>-->
<!--                </div> &lt;!&ndash; single testimonial &ndash;&gt;-->
<!--              </div>-->
<!--              <div class="col-lg-4">-->
<!--                <div class="single-testimonial mt-30 mb-30 text-center">-->
<!--                  <div class="testimonial-image">-->
<!--                    <img src="assets/images/author-2.jpg" alt="Author">-->
<!--                  </div>-->
<!--                  <div class="testimonial-content">-->
<!--                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>-->
<!--                    <h6 class="author-name">Elon Musk</h6>-->
<!--                    <span class="sub-title">CEO, SpaceX</span>-->
<!--                  </div>-->
<!--                </div> &lt;!&ndash; single testimonial &ndash;&gt;-->
<!--              </div>-->
<!--              <div class="col-lg-4">-->
<!--                <div class="single-testimonial mt-30 mb-30 text-center">-->
<!--                  <div class="testimonial-image">-->
<!--                    <img src="assets/images/author-4.jpg" alt="Author">-->
<!--                  </div>-->
<!--                  <div class="testimonial-content">-->
<!--                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed! Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>-->
<!--                    <h6 class="author-name">Fajar Siddiq</h6>-->
<!--                    <span class="sub-title">CEO, MakerFlix</span>-->
<!--                  </div>-->
<!--                </div> &lt;!&ndash; single testimonial &ndash;&gt;-->
<!--              </div>-->
<!--            </div> &lt;!&ndash; row &ndash;&gt;-->
<!--          </div>-->
<!--        </div> &lt;!&ndash; row &ndash;&gt;-->
<!--      </div> &lt;!&ndash; container &ndash;&gt;-->
<!--    </section>-->


<!-- Blog Section -->
<section id="blog" class="section" style="padding: 60px;">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-text section-header text-center">
          <div>
            <h2 class="section-title">Latest Blog Posts</h2>

          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/images/blog/blog-1.jpg" class="img-fluid" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html"> University isn't nessesary to have a great career</a></h3>
            <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>-->
            <a href="" class="read-more">5 Min read</a>
          </div>
          <div class="author">
            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
            <span class="date float-right"><i class="lni-calendar"></i><a href="#">15 March, 2020</a></span>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/images/blog/blog-2.jpg" class="img-fluid" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">Growth Techniques for  <br>New Startups</a></h3>
            <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>-->
            <a href="" class="read-more">5 Min read</a>
          </div>
          <div class="author">
            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="single-post.html">
              <img src="assets/images/blog/blog-3.jpg" class="img-fluid" alt="">
            </a>
          </div>
          <div class="blog-item-text">
            <h3><a href="single-post.html">How to find your dream job on LearnOnTheJob</a></h3>
            <!--                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry.</p>-->
            <a href="" class="read-more">5 Min read</a>
          </div>
          <div class="author">
            <span class="name"><i class="lni-user"></i><a href="#">Posted by Admin</a></span>
            <span class="date float-right"><i class="lni-calendar"></i><a href="#">10 April, 2020</a></span>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- blog Section End-->
<!-- Contact Us Section-->
<section id="contact" class="section" style="padding-bottom: 20px;">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text section-header text-center">
          <div>
            <h2 class="section-title">Get In Touch</h2>
            <div class="desc-text">
              <!--                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>  -->
              <!--                  <p>eiusmod tempor incididunt ut labore et dolore.</p>-->
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">
      <!-- Start Col -->
      <div class="col-lg-6 col-md-12">
        <form action="https://formspree.io/brianlynch1995@gmail.com" method="POST" id="contactForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" placeholder="Subject" id="msg_subject" class="form-control" name="msg_subject" required data-error="Please enter your subject">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required data-error="Please enter your Email">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" placeholder="Budget" id="budget" class="form-control" name="budget" required data-error="Please enter your Budget">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea class="form-control" id="message"  name="message" placeholder="Write Message" rows="4" data-error="Write your message" required></textarea>
                <div class="help-block with-errors"></div>
              </div>
              <div class="submit-button">
                <button class="btn btn-common" id="submit" type="submit">Submit</button>
                <div id="msgSubmit" class="h3 hidden"></div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">

      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-4 col-md-12">
        <div class="contact-img">
          <img src="assets/images/contact/01.png" class="img-fluid" alt="">
        </div>
      </div>
      <!-- End Col -->
      <!-- Start Col -->
      <div class="col-lg-1">
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- Contact Us Section End -->



<section style="padding-top: 70px; padding-bottom: 70px; background:#f9f9f9; ">
  <div class="col-lg-12">
    <div style="margin-bottom: 0px;" class="blog-text section-header text-center">
      <div>
        <h2 class="section-title">Our Platforms Serverless Architecture</h2>

      </div>
    </div>
  </div>
  <div class="arc-images">
    <img style="max-width: 100%;" src="assets/images/architecture-1.png" alt="Nature" class="responsive">
  </div>
</section>

<!-- Counter Section Start -->
<section id="counter" class="section-padding">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="row">
          <!-- Start counter -->
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="counter-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon-o"><i class="lni-users"></i></div>
              <div class="fact-count">
                <h3><span class="counter">23576</span></h3>
                <p>Users</p>
              </div>
            </div>
          </div>
          <!-- End counter -->
          <!-- Start counter -->
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="counter-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon-o"><i class="lni-emoji-smile"></i></div>
              <div class="fact-count">
                <h3><span class="counter">2124</span></h3>
                <p>Positive Reviews</p>
              </div>
            </div>
          </div>
          <!-- End counter -->
          <!-- Start counter -->
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="counter-box wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon-o"><i class="lni-download"></i></div>
              <div class="fact-count">
                <h3><span class="counter">54598</span></h3>
                <p>Downloads</p>
              </div>
            </div>
          </div>
          <!-- End counter -->
          <!-- Start counter -->
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="counter-box wow fadeInUp" data-wow-delay="0.8s">
              <div class="icon-o"><i class="lni-thumbs-up"></i></div>
              <div class="fact-count">
                <h3><span class="counter">3212</span></h3>
                <p>Followers</p>
              </div>
            </div>
          </div>
          <!-- End counter -->
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Footer Section Start -->
<footer>
  <!-- Footer Area Start -->
  <section id="footer-Content">
    <div class="container">
      <!-- Start Row -->
      <div class="row">

        <!-- Start Col -->
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">

          <div class="footer-logo">
            <img src="assets/images/logo2.png" alt="">
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Company</h3>
            <ul class="menu">
              <li><a href="#about">  - About Us</a></li>
              <li><a href="#">- Career</a></li>
              <li><a href="#blog">- Blog</a></li>
              <li><a href="#">- Press</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Product</h3>
            <ul class="menu">
              <li><a href="#">  - Customer Service</a></li>
              <li><a href="#">- Enterprise</a></li>
              <li><a href="#">- Price</a></li>
              <li><a href="#">- Security</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!-- Start Col -->
        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <div class="widget">
            <h3 class="block-title">Download App</h3>
            <ul class="menu">
              <li><a href="#">  - Android App</a></li>
              <li><a href="#">- IOS App</a></li>
              <li><a href="#">- Windows App</a></li>
              <li><a href="#">- Play Store</a></li>
              <li><a href="#">- IOS Store</a></li>
            </ul>
          </div>
        </div>
        <!-- End Col -->
        <!--              &lt;!&ndash; Start Col &ndash;&gt;-->
        <!--            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">-->
        <!--              <div class="widget">-->
        <!--                <h3 class="block-title">Subscribe Now</h3>-->
        <!--                <p>Appropriately implement calysts for change visa wireless catalysts for change. </p>-->
        <!--              </div>-->
        <!--            </div>-->
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- Copyright Start  -->

    <div class="copyright">
      <div class="container">
        <!-- Star Row -->
        <div class="row">
          <div class="col-md-12">
            <div class="site-info text-center">
              <p>Crafted by <a href="http:/brianpeterlynch.com" rel="nofollow">Brian Lynch</a></p>
            </div>

          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- Copyright End -->
  </section>
  <!-- Footer area End -->

</footer>
<!-- Footer Section End -->


<!--&lt;!&ndash; Go To Top Link &ndash;&gt;-->
<!--<a href="#" class="back-to-top">-->
<!--  <i class="lni-chevron-up"></i>-->
<!--</a>-->

<!--&lt;!&ndash; Preloader &ndash;&gt;-->
<!--<div id="preloader">-->
<!--  <div class="loader" id="loader-1"></div>-->
<!--</div>-->
<!--&lt;!&ndash; End Preloader &ndash;&gt;-->

